.container{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    min-height: 20rem;
    width: 20rem;
    margin: 2rem 2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.img{
    width: 100%;
    max-width: 6rem;
    height: 40%;
    max-height: 30rem;

}