.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: cornflowerblue;
    padding: 1rem;
    margin-bottom: 2rem;
}

.iconContainer{
    width: 2rem;
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.li{
    list-style: none;
    margin: 0 1rem;
}

.cartContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.counter{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

