.container{
    background-color: cornflowerblue;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; /* Establecemos la posición fija */
    height: 50px; /* Establecemos la altura del footer */
      
}

.name{
    text-align: center;
    color: black;
}